.headerTransaksiPage {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
}

.navLogoTransaksi {
    font-size: 30px !important;
    color: white !important;
}

.backBtnTransaction {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.pricingImg {
    width: 300px;
    margin: auto;
    display: block;
}

.detailBox {
    border-style: solid;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px;
    border-color: #D9D9D9;
}

.uploadBox {
    border-style: solid;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px;
    border-color: #D9D9D9;
}

.fileBoxTransaction {
    width : 350px;
    height : 37px;
    display : flex;
    border-radius : 0px 10px 10px 0px;
    border : 1px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.infoBox {
    border-style: solid;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px;
    border-color: #D9D9D9;
}

.uploadBuktiBayar {
    color : white;
    background-color : #507CB6;
    /* padding : 10px 160px 10px 250px; */
    padding: 10px;
    border : 2px;
    border-radius : 15px;
    /* margin : 30px 0px 150px 50px; */
    font-family : Sans-Serif;
    font-size : 20px;
    /* max-width: 400px; */
}