.headerBuatRoom {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.navLogo {
    font-size: 30px !important;
}

.backBtnBuatRoom {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
    border: none;
}

.borderBoxMakeRoom {
    padding: 0px 0px 30px 0px;
    border-style: solid;
    border: none;
    box-shadow: 4px 4px 6px 6px #888888;
    border-radius: 30px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.textBuatRoom {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family : Sans-Serif;
    font-size : 40px;
    font-weight: bold;
}

.imgLogo {
    width: 352px;
    height: 150px;
}

.labelPilihRoom {
    color: white;
    font-size : 30px;
    font-family : Sans-Serif;
    font-weight: bold;
}

.roomImg {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.pilihBtn {
    color : white;
    background-color : #507CB6;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    margin : auto;
    font-family : Sans-Serif;
    font-size : 20px;
}
/* cek */