.header {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.navLogo {
    font-size: 30px !important;
    color: white !important;
}

.backButtonLogin {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.text1Login {
    margin-top: 0px;
    text-align: center;
    font-family : Sans-Serif;
    font-size : 30px;
    font-weight: bolder;
}

.imgLogin {
    width : 550px;
    height : 350px;
    margin-left : 50px;
  }

.labelStyleLogin {
    margin : 10px 0px 0px 60px;
    display : flex;
    flex-direction : column-reverse;
    font-size : 25px;
    font-family : Sans-Serif;
  }

.inputBoxLogin {
    width : 650px;
    height : 40px;
    display : flex;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    margin : 0px 10px 10px 50px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.loginButtonLogin {
    color : white;
    background-color : #507CB6;
    padding : 10px 15px 10px 15px;
    border-radius : 20px;
    border: 2px;
    margin : 10px 0px 10px 50px;
    font-family : Sans-Serif;
    font-size : 20px;
}
/* cek */