.backBtnDetail {
    padding: 8px 15px 8px 15px;
    margin : 10px 10px 0px 40px;
    font-family: sans-serif;
    color : white;
    background-color : #507CB6;
    border-radius : 15px;
    border-color: #507CB6;
}

.titlePaymentPage {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 50px;
}

.borderBoxDetail {
    margin: auto;
    margin-left: 350px;
    max-width: fit-content;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    background-color: #507CB6;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.invinsibleBorderBox {
    text-align: center;
    margin-right: 350px;
}

.imgDetail {
    margin: auto;
    display: block;
    width: 350px;
    height: 400px;
    border-radius: 20px;
}