.navLogoCariRoom{
    margin-left: 20px;
    font-size: 30px !important;
}

.header {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.pageTag {
    margin: 2rem 2rem 3rem 2rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 600;
}

.inputBoxSearch {
    width : 650px;
    height : 40px;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    margin : 0px 10px 10px 50px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.filterBox {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30px;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    height: 700px;
    box-shadow: 0px 0px 9px rgba(139, 139, 139, 0.71);
    border-radius: 23px;
}

.borderBoxCariRoom{
    padding: 0px 0px 0px 30px;
    border-style: solid;
    border: none;
    box-shadow: 4px 4px 6px 6px #888888;
    border-radius: 30px;
    display: block;
    margin-bottom: 50px;
    font-family : Sans-Serif;

    background-color: #507CB6;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    width: auto;
    height: 150px;
}

.buttonAlignBox {
    display: block;
    margin: auto;
    max-width: fit-content;
}

.masukBtn {
    color : #507CB6;
    background-color : white;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    font-family : Sans-Serif;
    font-size : 20px;
}

.masukRoomAdmin {
    color : #507CB6;
    background-color : white;
    padding : 7px 20px 7px 20px;
    border-radius : 20px;
    border: 0px;
    justify-content: "end";
    font-family : Sans-Serif;
    font-size : 20px;
    text-align: right;
}

.backBtnCariRoom {
    padding: 8px 15px 8px 15px;
    margin : 10px 10px 0px 40px;
    font-family: sans-serif;
    color : white;
    background-color : #507CB6;
    border-radius : 15px;
    border-color: #507CB6;
}

/* .headerAdminDashboard {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.welcomingAdmin {
    color: white;
    margin-right: -5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
}



.makeRoomAdminDashboard {
    color : white;
    background-color : #41BE91;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
    width: auto;
}


.editBtn {
    color : #507CB6;
    background-color : #FFD954;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    font-family : Sans-Serif;
    font-size : 20px;
}

.qrBtn {
    color : white;
    background-color : #507CB6;
    padding : 10px 55px 10px 55px;
    border: white;
    border-color: white;
    border-radius : 20px;
    border-style: solid;
    border-width: 2px;
    display: block;
    align-items: center;
    margin: 15px 0px 0px 0px;
    font-family : Sans-Serif;
    font-size : 20px;
    width: auto;
} */