.headerInputOTP {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.navLogoInputOTP {
    font-size: 30px !important;
}

.backBtnInputOTP {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 10px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
    border: none;
}

.tagInputOTPPage {
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.borderInvinsible2 {
    display: block;
    margin: auto;
    max-width: fit-content;
}

.inputBoxOTP {
    width : 650px;
    height : 40px;
    display : block;
    margin: auto;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.inputOTPBtn {
    color : white;
    background-color : #507CB6;
    width: 650px;
    padding : 10px 15px 10px 15px;
    border-radius : 25px;
    border: 2px;
    margin-top: 2rem;
    margin-left : auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
    font-family : Sans-Serif;
    font-size : 20px;
}