.Header {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    
}

.navLogo {
    font-size: 30px !important;
    font-weight : 600;
}

.backBtnMasukUserID {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 10px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.text1 {
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.borderInvinsible3 {
    display: block;
    margin: auto;
    max-width: fit-content;
}

.labelStyleLoginUserId {
    margin : 10px 0px 0px 10px;
    display : block;
    flex-direction : column-reverse;
    font-size : 25px;
    font-family : Sans-Serif;
  }

.inputBoxLoginUserId {
    width : 650px;
    height : 40px;
    display : block;
    margin: auto;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    background-color : #D9D9D9;
    font-size : 20px;
  }

.joinButton {
    color : white;
    background-color : #507CB6;
    width: 650px;
    padding : 10px 15px 10px 15px;
    border-radius : 25px;
    border: 2px;
    margin-top: 2rem;
    margin-left : auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
    font-family : Sans-Serif;
    font-size : 20px;
}

.borderTop {
    border-style: solid;
    border-bottom: white;
    border-left: white;
    border-right: white;
    border-color: #507CB6;
    border-width: 3px;
}

.changeToEmailBtn {
    color : #507CB6;
    background-color : white;
    width: 650px;
    padding : 10px 15px 10px 15px;
    border-radius : 25px;
    border: 2px;
    border-style: solid;
    margin-top: 30px;
    margin-left : auto;
    margin-right: auto;
    display: block;
    font-family : Sans-Serif;
    font-size : 20px;
}