.headerMyAdminDashboard {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.welcomingMyAdmin {
    color: white;
    margin-right: -5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.myAdminPageTag {
    margin: 2rem 2rem 3rem 2rem;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 600;
}

.filterBoxMyAdmin {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30px;
    /* border-style: solid ; */
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    height: 700px;
    box-shadow: 0px 0px 9px rgba(139, 139, 139, 0.71);
    border-radius: 23px;
}

.backDashboard {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 10px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
    border: none;
}
    
.borderBoxMyAdmin {
    padding: 0px 0px 0px 30px;
    border-style: solid;
    border: none;
    box-shadow: 4px 4px 6px 6px #888888;
    border-radius: 30px;
    display: block;
    margin-bottom: 50px;
    font-family : Sans-Serif;

    background-color: #507CB6;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    width: auto;
    height: 150px;
}

.konfirmasiBtn {
    color : #507CB6;
    background-color : #FFD954;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    font-family : Sans-Serif;
    font-size : 20px;
}

.lihatBuktiBtn {
    color : #507CB6;
    background-color : white;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    font-family : Sans-Serif;
    font-size : 20px;
}