.header {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.navLogo {
    font-size: 30px !important;
    color: white !important;
}

.backButtonAddRoom {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.labelStyleAddRoom {
    margin : 10px 0px 0px 60px;
    display : flex;
    flex-direction : column-reverse;
    font-size : 25px;
    font-family : Sans-Serif;
}

.inputBoxAddPremiumRoom {
    width : 650px;
    height : 40px;
    display : flex;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    margin : 0px 10px 10px 50px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.fileBoxAddPremiumRoom {
    width : 650px;
    height : 37px;
    display : flex;
    padding : 0px 0px 0px 0px;
    border-radius : 3px 20px 20px 3px;
    border : none;
    margin : 0px 10px 0px 50px;
    background-color : #D9D9D9;
    font-size : 20px;
    display: inline-block;
    cursor: pointer;
}

.descPremiumRoom {
    margin : 10px 10px 0px 50px;
    font-size: 20px;
    font-weight: 400;
}

.makeNewRoomBtn {
    color : white;
    background-color : #507CB6;
    padding : 10px 250px 10px 250px;
    border : 2px;
    border-radius : 15px;
    margin : 30px 0px 150px 50px;
    font-family : Sans-Serif;
    font-size : 20px;
}
/* cek */