.headerEditRoom {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
}

.pageTitle {
    font-size: 30px !important;
    color: white !important;
    font-weight : 600;
}

.backButtonEditRoom {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
    border: none;
}

.labelStyleEditRoom {
    margin : 10px 0px 0px 60px;
    display : flex;
    flex-direction : column-reverse;
    font-size : 25px;
    font-family : Sans-Serif;
}

.inputBoxEditRoom {
    width : 650px;
    height : 40px;
    display : flex;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    margin : 0px 10px 10px 50px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.fileBoxEditRoom {
    width : 650px;
    height : 37px;
    display : flex;
    padding : 0px 0px 0px 0px;
    border-radius : 3px 20px 20px 3px;
    border : none;
    margin : 0px 10px 0px 50px;
    background-color : #D9D9D9;
    font-size : 20px;
    display: inline-block;
    cursor: pointer;
}

.doneEditingBtn {
    color : white;
    background-color : #507CB6;
    padding : 10px 250px 10px 300px;
    border : 2px;
    border-radius : 15px;
    margin : 30px 0px 150px 50px;
    font-family : Sans-Serif;
    font-size : 20px;
}