.headerVotingRoomStat {
    display: flex;
    background-color : white;
    font-family : Sans-Serif;
    font-weight : 600;
    border-color: #507CB6;
    border-top: white;
    border-right: white;
    border-left: white;
    border-width: 3px;
    border-style: solid;
}

.navLogoVotingRoomStat {
    font-size: 30px !important;
    color: #507CB6;
}

.backBtnVotingRoomStat {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 30px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.listVotersBtnVotingRoomStat {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 30px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.votingCardBox2 {
    border-style: solid;
    border-width: 3px;
    background-color: #3E6496;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 25px;
    border-color: #507CB6;
    padding: 5px;
}

.votingPhotoBox2 {
    background-color: #507CB6;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
}

.votingImg2 {
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    object-fit: cover;
}

.votingTextBox2 {
    background-color: #3E6496;
    color: white;
    font-family: Sans-serif;
    border-radius: 0px 0px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.boxPercentage {
    background-color: white;
    margin: auto;
    display: block;
    border-style: solid;
    border-width: 4px;
    width: 150px;
    border-radius: 1000px;
    border-color: white;
    text-align: center;
    justify-content: center;
}

.percentageVote {
    background-color: #507CB6;
    color: white;
    border-radius: 100px;
    font-family: Sans-serif;
    font-size: 30px;
    margin: 0px !important;
}