.headerRoomID {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
}

.navLogoLoginRoomId {
    font-size: 30px !important;
    color: white !important;
    font-weight: 600;
}

.textRoomID {
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.borderInvinsible4 {
    display: block;
    margin: auto;
    max-width: fit-content;
}

.labelLoginRoomId {
    margin : 10px 0px 0px 10px;
    display : block;
    flex-direction : column-reverse;
    font-size : 25px;
    font-family : Sans-Serif;
}

.inputBoxLoginRoomId {
    width : 650px;
    height : 40px;
    display : block;
    margin: auto;
    padding : 0px 15px 0px 15px;
    border-radius : 50px;
    border : 1px;
    background-color : #D9D9D9;
    font-size : 20px;
}

.joinButtonRoomID {
    color : white;
    background-color : #507CB6;
    width: 650px;
    padding : 10px 15px 10px 15px;
    border-radius : 25px;
    border: 2px;
    margin-top: 2rem;
    margin-left : auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
    font-family : Sans-Serif;
    font-size : 20px;
}