.header {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.navLogoDashboard{
    margin-left: 20px;
    font-size: 30px !important;
}

.btn-admin{
    margin-right: 0.75rem;
}

.loginButtonDashboard {
    color : #507CB6;
    background-color : white;
    padding : 7px 20px 7px 20px;
    border-radius : 20px;
    border: 0px;
    justify-content: "end";
    font-family : Sans-Serif;
    font-size : 20px;
    text-align: right;
}

.logoutButtonDashboard {
    color : white;
    background-color : #063670;
    padding : 7px 20px 7px 20px;
    border-radius : 20px;
    border: 0px;
    justify-content: "end";
    font-family : Sans-Serif;
    font-size : 20px;
    text-align: right;
    margin-right: 1rem;
    margin-left: 1rem;
}

.signButtonDashboard {
    color : white;
    background-color : #41BE91;
    padding : 10px 15px 10px 15px;
    border-radius : 20px;
    border: 2px;
    margin : 10px 10px 10px 0px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.makeRoomButton {
    color : white;
    background-color : #507CB6;
    padding : 10px 15px 10px 15px;
    border: 0px;
    border-radius : 20px;
    margin : 10px 10px 10px 10px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.cariRoomButton {
    color : #6A6A6A;
    background-color : white;
    padding : 5px 119px 5px 119px;
    border-style: solid;
    border-color: #6A6A6A;
    border-width: 3px;
    border-radius : 15px;
    margin : 10px 0px 10px 0px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.text1Dashboard {
    text-align: center;
    font-family : Sans-Serif;
    font-size : 30px;
    font-weight: bold;
}

.text2Dashboard {
    text-align: center;
    font-family : Sans-Serif;
    font-size : 20px;
}

.adsImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 450px;
}

.footer {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 500;
}

.footerLink {   
    font-size: 20px !important;
    font-weight: bold ;
}

.hiddenBox {
    margin-right: 0.75rem;
}

.loginAdminBtn {
    justify-content: end;
    text-align: right;
    color : #507CB6;
    background-color : #507CB6;
    border-radius : 20px;
    border: none;
}