.headerVotingRoom {
    display: flex;
    background-color : white;
    font-family : Sans-Serif;
    font-weight : 600;
    border-color: #507CB6;
    border-top: white;
    border-right: white;
    border-left: white;
    border-width: 3px;
    border-style: solid;
}

.navLogoVotingRoom {
    font-size: 30px !important;
    color: #507CB6;
}

.backBtnVotingRoom {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.btnVotingStatistic {
    color : white;
    background-color : #507CB6;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
}

.votingCardBox {
    border-style: solid;
    border-width: 3px;
    background-color: #3E6496;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 25px;
    border-color: #507CB6;
    padding: 5px;
}

.votingPhotoBox {
    background-color: #507CB6;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
}

.votingImg {
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    object-fit: cover;
}

.votingTextBox {
    background-color: #3E6496;
    color: white;
    font-family: Sans-serif;
    border-radius: 0px 0px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.voteBtn {
    color : #507CB6;
    background-color : white;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : auto;
    display: block;
    font-family : Sans-Serif;
    font-size : 20px;
}



