.headerAdminDashboard {
    display: flex;
    background-color : #507CB6;
    font-family : Sans-Serif;
    font-weight : 600;
}

.welcomingAdmin {
    color: white;
    margin-right: -5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.pageTag {
    margin: 2rem 2rem 3rem 2rem;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 600;
}

.filterBox {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30px;
    /* border-style: solid ; */
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    height: 700px;
    box-shadow: 0px 0px 9px rgba(139, 139, 139, 0.71);
    border-radius: 23px;
}

.makeRoomAdminDashboard {
    color : white;
    background-color : #41BE91;
    padding : 8px 15px 8px 15px;
    border: 2px;
    border-radius : 15px;
    margin : 10px 10px 70px 40px;
    font-family : Sans-Serif;
    font-size : 20px;
    width: auto;
}

.borderBoxDashboardAdmin{
    padding: 0px 0px 0px 30px;
    border-style: solid;
    border: none;
    box-shadow: 4px 4px 6px 6px #888888;
    border-radius: 30px;
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: 50px;
    font-family : Sans-Serif;

    background-color: #507CB6;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    /* border-style: solid ; */
    /* border-radius: 20px; */
    /* padding: 30px 30px 30px 30px; */
    /* width: 1250px; */
    width: auto;
    height: 150px;
}

.buttonAlignBox {
    display: block;
    margin: auto;
    max-width: fit-content;
}

.lihatDetailBtn {
    color : #507CB6;
    background-color : white;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    /* margin : auto; */
    /* margin-right: auto; */
    font-family : Sans-Serif;
    font-size : 20px;
}

.editBtn {
    color : #507CB6;
    background-color : #FFD954;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    display: block;
    align-items: center;
    /* margin : auto; */
    /* margin-left: 260px; */
    font-family : Sans-Serif;
    font-size : 20px;
}

/* .qrBtn {
    color : white;
    background-color : #507CB6;
    padding : 10px 56px 10px 56px;
    border: white;
    border-color: white;
    border-radius : 20px;
    border-style: solid;
    border-width: 2px;
    display: block;
    align-items: center;
    margin: 15px 0px 0px 0px;
    font-family : Sans-Serif;
    font-size : 20px;
    width: auto;
} */

.qrBtn {
    color : white;
    background-color : #507CB6;
    padding : 10px 5px 10px 5px;
    border: white;
    border-color: white;
    border-radius : 20px;
    border-style: solid;
    border-width: 2px;
    display: block;
    align-items: center;
    /* margin : auto; */
    /* margin-right: auto; */
    font-family : Sans-Serif;
    font-size : 20px;
    margin: 15px 0px 0px 0px;
    /* width: auto; */
}

.deleteButton {
    color : #ffffff;
    background-color : #ff0000;
    padding : 10px 30px 10px 30px;
    border: none;
    border-radius : 20px;
    /* display: block; */
    align-items: center;
    /* margin : auto; */
    /* margin-left: 260px; */
    margin: 15px 0px 0px 0px;
    font-family : Sans-Serif;
    font-size : 20px;
    /* width: auto; */
}

.backBtnAdminDashboard {
    padding: 8px 15px 8px 15px;
    margin : 10px 10px 0px 40px;
    font-family: sans-serif;
    color : white;
    background-color : #507CB6;
    border-radius : 15px;
    border-color: #507CB6;
}